

.sell-header {
    box-sizing: border-box;
    position: relative;
    padding: 50px;
}

.sell-form {
    margin-top: 50px;
    margin: 10px 10px;
    padding: 2px 0;
}

.sell-form input{
    padding: 10px 0;
    text-align: center;
}

.sell-desc{
    margin-top: 50px;
    margin: 10px 10px;
    padding: 2px 0;
}

.sell-desc input {
    padding: 40px 0;
    text-align: center;
}

.carousel-container {
  position:         relative;
  float:            right;
  background-color: rgba(154,24,177,0.4);
  margin:           1%;
  font-size:        3em;
  width:            45%;
  height:           40%;
  border:           3px solid black;
  overflow:         hidden;
  min-width:        250px;
  min-height:       250px;
}

.carousel-content {
  height:           auto;
  margin:           0;
}

.dropdown {
  position: relative;
  float: left;
  height: 100%;
  width: 20%;
  margin: 2%;
}
#dropbtn{
  margin: 1%;
}

#productinfo{
  position: relative;
  float: left;
  height: 100%;
  width: 20%;
  margin: 1%;
}

@media screen and (max-width:1100px) {
    .carousel-container {
    width:95%; /* The width is 100%, when the viewport is 800px or smaller */

  }
  .dropdown, #productinfo {
    width:35%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #productinfo {
    margin-right: 5%
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:700px) {
  .dropdown, #productinfo {
    /* margin-left: -1em; */
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .dropdown {
    margin-left: 1em;
    width: 90%;
  }
}



.carousel-element {
  font-size:        1em;
  width:            100%;
  list-style:       none;
  text-align:       center;
}

.active {
  height:           100%;
}

.active .carousel-element {
  position:         absolute;
  /* width:         90%;
  height:           90%; */
  opacity:          0;
  transform:        scale(0);
  transition:       1s;
}

.active .carousel-element.current {
  top:              -.75em;
  position:         relative;
  display:          block;
  opacity:          1;
  transform:        scale(1);
  transition:       ease-in 1s;
  margin:           10% auto;
}

.active .buttons {
  padding:          0;
  background:       #1e90ff;
  text-align:       center;
  z-index:          3;
  position:         relative;
}

.active .anchor-buttons {
  background:       #1e90ff;
  text-align:       center;
  z-index:          3;
  position:         absolute;
  bottom:           0;
  width:            100%;
}

.carousel-container button {
  border:           none;
  display:          none;
}

.active button {
  width:            2em;
  display:          inline-block;
  background-color: #ff7f50
}
.offscreen {
  position:         absolute;
  left:             -20000px;
}
.carousel-content img{
  width:            100%;
  height:           100%;
  max-width:        500px;
  max-height:       500px;
}

.carousel-text{
  float: left;
  width: 100%;
  margin: 5%;
  height: auto;
  /* min-width: 200px; */
  max-width: 500px;
  border: 1px solid black;
  text-align: center;
}


.dropdown-content {
  display: none;
  position: relative;
  margin-left: 0.4em; /* recenter dropdown box */
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#select {
  width: 100%;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover #dropbtn {
  background-color: #3e8e41;
}
#myInput {
  position: relative;
  width: inherit;
  border: none;
}

.table-row-active{
    display:block;
}

.table-row-active .table-name{
    font-size: 1em;
}

.table-row-active .table-price{
    font-size: 0.7em;
}

.table-row-inactive{
    display:none;
}
