#logcontainer {
    width: 1000px;
    position: absolute;
    left: 450px;
    top: 50px;
    color: thistle;
    padding: 10px 0;
    border: 5px solid #ff0099;
    text-align: center;
    background-color: #000;
}
#logcontainer2 {
    width: 1000px;
    position: absolute;
    left: 450px;
    top: 1100px;
    color: thistle;
    padding: 10px 0;
    border: 5px solid #ff0099;
    text-align: center;
    background-color: #000;
}

.sell-form {
    margin-top: 50px;
    margin: 10px 10px;
    padding: 2px 0;
}
  
.sell-form input{
    padding: 10px 0;
    text-align: center;
}

.sell-desc{
    margin-top: 50px;
    margin: 10px 10px;
    padding: 2px 0;
}

.sell-desc input {

    padding: 40px 0;
    text-align: center;
}
