#logcontainer {
    width: 1000px;
    position: absolute;
    left: 450px;
    top: 50px;
    color: thistle;
    padding: 10px 0;
    border: 5px solid #ff0099;
    text-align: center;
    background-color: #000;
}
#logcontainer2 {
    width: 1000px;
    position: absolute;
    left: 450px;
    top: 1100px;
    color: thistle;
    padding: 10px 0;
    border: 5px solid #ff0099;
    text-align: center;
    background-color: #000;
}

.sell-form {
    margin-top: 50px;
    margin: 10px 10px;
    padding: 2px 0;
}
  
.sell-form input{
    padding: 10px 0;
    text-align: center;
}

.sell-desc{
    margin-top: 50px;
    margin: 10px 10px;
    padding: 2px 0;
}

.sell-desc input {

    padding: 40px 0;
    text-align: center;
}


.carousel-container {
    font-size:        3em;
    width:            auto;
    max-width:        80%;
    min-width: 40%;
    left:             550px;
    top: 175px;
    position:         absolute;
  
    margin:           1em;
    border:           1px solid #ccc;
    overflow:       hidden;
    z-index: 0;
  }
  
  .carousel-content {
    margin:           0;
    padding:          0;
  }
  
  .carousel-element {
    font-size:        1em;
    margin:           0;
    padding:          1em 0;
    width:            100%;
    list-style:       none;
    text-align:       center;
  }
  
  .active {
    height:           17em;
  }
  
  .active .carousel-element {
    position:         absolute;
    top:              200px;
    opacity:          0;
    transform:        scale(0);
    transition:       1s;
  }
  
  .active .carousel-element.current {
    top:              1em;
    display:          block;
    opacity:          1;
    transform:        scale(1);
    transition:       1s;
  }
  
  .active .buttons {
    padding:          0;
    background:       #1e90ff;
    text-align:       center;
    z-index:          10;
    position:         relative;
  }
  
  .active .anchor-buttons {
    padding:          0;
    background:       #1e90ff;
    text-align:       center;
    z-index:          10;
    position:         absolute;
    bottom:           0;
    width:            100%;
  }
  
  .carousel-container button {
    border:           none;
    display:          none;
  }
  .active button {
    width:            2em;
    display:          inline-block;
    background-color: #ff7f50
  }
  .offscreen {
    position:         absolute;
    left:             -20000px;
  }
  .carousel-content img{
    width:            auto;
    height:           auto;
    max-width:        inherit;
    max-height:       inherit;
    padding-bottom:   2em;
  }
  