#regcontainer {
    height: 250px;
    width: 800px;
    position: absolute;
    left: 450px;
    top: 400px;
    color: thistle;
    padding: 10px 0;
    border: 5px solid #ff0099;
    text-align: center;
    background-color: #000;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 500px;
    min-width: 150px;
    height: 300px;
    position: absolute;
    top:50px;
    left: 1000px;
    margin: auto;
    text-align: center;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    /* max-width: 800px; */
    width: 500px;
    height: 300px;
    position: absolute;
    top:50px;
    left: 450px;
    margin: auto;
    text-align: center;
}

.username {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

#myChart {
    position: absolute;
    top:700px;
    left: 600px;
    color: black;
    border: 5px solid thistle;

}