html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: thistle;
}

.container{
  position: relative;
  top: 50%;
  width: 40%;
  min-width: 400px;
  min-height:300px;
  height: 65%;
  text-align: center;
  background-color: thistle;
  margin: auto;
  border: 3px solid #f1f1f1;
}

button:hover {
  opacity: 0.8;
}

button:focus {outline:0;}


.container img{
  height: 140px;
  width: 140px;
  margin: 10px 0px;
}

input{
  height: 50px;
  width: auto;
  text-align: center;
}

.loginbutt{
  margin-top: 40px;
  font-size: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    box-shadow: 5px 5px 50px 5px thistle;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(0,0,0,0);
    margin: 15px auto; /* 15% from the top and centered */
    width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 50px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.errors ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.success {
  background: #80cca0;
  padding: 5px;
}


.intro-form{
  background: #fff;
  min-height: 30px;
  overflow: auto;
  font-size: 28px;

}
.intro-form .main-menu{
  float: left;
  margin-left: 0em;
}
ul{
  list-style: none;
}
.intro-form .main-menu li{
  position: center;
  float: left;
}
.intro-form a {
  cursor: crosshair; 
  display: block;
  padding: 38px 40px;
  line-height: 30px;
  color: #191919;
  text-decoration: none;
}

.intro-form .main-menu a:hover{
  background-color: #ffff90;
  color: thistle;
}

svg #titletext path{
  fill: thistle !important;
  stroke: #000 !important;
  stroke-dasharray: 640;
  animation:at 3000ms;
}

svg {
  display: block;
  margin: auto;
}

#zoom{
  position: relative;
  width: 60%;
  height: 60%;
}

#loading{
  transform: translate(350px,-200px);
  position: relative;
  top: 500px;
  left: 250px;
}

#innerspin{
  background: no-repeat;
  transform-origin:50% 49%;
  animation:cw 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#outerspin{
  background: no-repeat;
}

@keyframes at {
  0%{
    stroke-dashoffset: 640;
  }
  30%{
    stroke-dashoffset: 320;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes cw {
  from{transform:rotate(0deg);}
  to{transform: rotate(360deg);}
}
@keyframes ccw {
  from{transform:rotate(0deg);}
  to{transform: rotate(360deg);}
}

.container input {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  height: 50px;
}

#login .container input{
  margin:15px 0px;
}
#add .container input{
  margin:15px 0px;
}

.input-requirements {
  min-width: 200px;
}
.input-requirements li.invalid {
	color: #500800;
}
.input-requirements li.valid {
	color: #00481e;
}

input[type="text"],
{
  background-color: rgb(250,250,250);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color:  rgb(200, 200, 200);
}

input:focus .register-form,
textarea:focus .register-form {
  background-color:rgb(250,250,250);
  border-color:  rgb(255, 0, 0);
}

input:not([type="submit"]):valid {
  border-color: #2ecc71;
}


input:not([type="submit"]) + .input-requirements {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;  
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
  max-height: 1100px; /*height to ease down onto */
  transition: max-height 1s ease-in;
}

button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  margin: 10px 0px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background: #219d218a;
  border: 0;
  border-bottom: 2px solid #219d218a;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d218a;
  box-shadow: inset 0 -2px #219d218a;
}
.button:active {
  position: relative;
  top: 5px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
