body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.container{
  width: 500px;
  height: 600px;
  text-align: center;
  background-color: rgba(255, 107, 129,1);
  margin: 100px auto;
  border: 3px solid #f1f1f1;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 14px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

button:hover {
  opacity: 0.8;
}

input {
    background-color: white;
    color: black;
    border: none;
    cursor: crosshair;
    width: 100%;
}

.container img{
  height: 140px;
  width: 140px;
  margin: 10px 0px;
}

.form-input input{
  height: 50px;
  width: 498px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.loginbutt span.pass {
  float: right;
  margin-top: 70px;
  font-size: 20px;
}

.main-form{
  top: -1200px;
  height: 300px;
  width: 1400px;
  left: 430px;
  position: relative;
  border: black;
  background-color: black;
}
.main-input{
  height: 80%;
  position: relative;
  top: 25px;
  margin: 20px 20px 20px 15px;
  padding: 0px 0;
  background-color: darkgray;
}

.register-form {
  margin-top: 50px;
  margin: 10px 10px;
  padding: 2px 0;
}

.register-form input{
  padding: 10px 0;
  text-align: center;
}

.submitbutt {
  margin-top: 50px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(0,0,0,0);
    margin: 5px auto; /* 15% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 50px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.page-header{
  margin-top: 0px;
}

.errors {
  background: #e79892;
  padding: 5px;
  margin-bottom: 10px;
  min-width: 200px;
  display: inline-block;
  border: 1px solid #e74c3c;
}

.errors ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.success {
  background: #80cca0;
  padding: 5px;
}

.header {
  position: absolute;
  left:500px;
  top:50px;
}
.header input{
  font-size: 50pt;
}


.main-menu>ul {
  margin:0px 0;
}

.intro-form {
  height: auto;
  width: 400px;
  /* background-color: black; */
}

.intro-form button{
  position: relative;
  left: -200px;
  height: 350px;
  width: 400px;
  transition: 0.3s;
  font-size: 30px;
  margin: 0 10px;
}
.intro-form button::input{
  overflow: hidden;
}

.intro-form button:hover{
  left: -100px;
  color: white;
  opacity: 0.9;
}

.btn1 {
  background-color:#f25;
  color: #f25;
}
.btn2 {
  background-color:#eccc68;
  color: #eccc68;
}
.btn3 {
  background-color:#ffa502;
  color:#ffa502
}
.btn4 {
  background-color:#ff6b81;
  color:#ff6b81;
}
