<img src="/img/ping.jpg" alt="loginpic">
<div class="form-input">
  <input type="text" name="username" placeholder="get your pingerz here">
  <input type="password" name="password" placeholder="5 for 20">
</div>
<div class="loginbutt">
  <button type="submit">Login</button>
  <button type="button"
  onclick="document.getElementById('id01').style.display='none'"
  class="cancelbutt">Cancel</button>
  <span class="pass">Forgot <a href="#">password?</a></span>
</div>
