<h2 class="page-header">Register</h2>
<form method="post" action="/users/register">
  <div class="register-form">
    <input type="text" name="name" placeholder="put name here">
    <input type="text" name="username" placeholder="enter username">
    <input type="email" name="email" placeholder="email here">
    <input type="password" name="password" placeholder="password here">
    <input type="password" name="password2" placeholder="confirm it ini">
  </div>
  <div class="submitbutt">
    <button type="submit">Submit</button>
  </div>
</form>
