<div class="error-wrapper">
    <div id="errorpage">
        <h2>We couldn't find this page</h2>
        <h1>But we can find you great prices!</h1>
        <div id="fourofour-image-card">
            <img src="images/webtech_about_us.png" alt="Ellis and Shanik in a trolley">
        </div>
        <h3><a href="/">Click here to return home</a></h3>
    </div>
</div>
