<div id="errorpage">
    <h2>We coudln't find this page</h2>
    <h1>But we can find you great prices!</h1>
</div>

<svg id="loading" height="200" width="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <image id="outerspin" x="0" y="0" height="200" width="200" xlink:href="images/outerRing.svg" />
    <image id="innerspin" x="1" y="1" height="200" width="200" xlink:href="images/logoinner.svg" />
</svg>
