<div class="about-us-wrapper">
    <h1>About Us</h1>
    <h2>Click on the image to return to the homepage</h2>
    <div id = "about-us-image-card">
        <a href="/"><img src="images/webtech_about_us.png" alt="PNG image of Ellis and Shanik in a trolley"></a>
    </div>

    <div id="about-us-text-card">
        <div class="text">
            <div class="ellis-card">
                <p>Ellis Pridgeon (email: <a href="mailto:ep15193@my.bristol.ac.uk">here</a>) is a third-year Mathematics and Computer Science student
                at the University of Bristol. He likes computers.</p>
            </div>
            <div class="shanik-card">
                <p>Shanik Dassenaike (email: <a href="mailto:id15663@my.bristol.ac.uk">here</a>) is a third-year Mathematics and Computer Science
                student at the University of Bristol. He believes that it is important to be aware of price fluctuations, especially when
                there is a product in which one is particularly interested. He has experience in many areas of Computer Science, but creating
                a website - and in particular implementing the back-end and server side of a website - is new to him. He believes in this
                website as a project and as a tool.</p>
            </div>
            <div class="both-card">
                <p>We made this website not only to show off myriad skills in the field of Web Technologies - including, but not limited to,
                implementing HTML, CSS and client-side JavaScript making use of a templating engine, implementing an Express server with an
                SQLite embedded database and creating and editing images to create vector graphics in the from of SVG images and bitmap
                graphics in the form of PNG images - but as a way of realising a simple solution to a frequent problem: How do I make sure
                that I'm not overpaying when I buy from a website? We firmly believe that this website presents a solid and useful way to
                help people visualise and track price changes over time, and to avoid overpaying for products.</p>
            </div>
        </div>
    </div>
</div>
