<% include partials/header %>
    <h1>CUSTOMER</h1>
    <% if (errors){ %>
        <% for(var error in errors){ %>
            <li><%= console.log(error) %></li> 
        <% } %>
    <% } %>
    <div class="intro-form">
        <button onclick="document.getElementById('login').style.display='block'" style="background-color:#ff6b81" >Login Form</button>
        <button onclick="document.getElementById('register').style.display='block'" style="background-color:#ff7f50">Register</button>
        <button onclick="document.getElementById('id02').style.display='block'" style="background-color:#eccc68">About Us</button>
        <button onclick="document.getElementById('id02').style.display='block'" style="background-color:#ffa502">Our Ethics</button>
    </div>
    
    <form method="POST" action="/users/add">
        <div id="register" class="modal">
        <span onclick="document.getElementById('register').style.display='none'"
        class="close" title="Close Modal">×</span>
        <form class="modal-content animate">

            <div class="container">
            <div class="register-form">
                <input type="text" name="name" placeholder="put name here"/>
                <input type="text" name="username" placeholder="enter username"/>
                <input type="email" name="email" placeholder="email here"/>
                <input type="password" name="password" placeholder="password here"/>
                <input type="password" name="password2" placeholder="confirm it ini"/>
            </div>

            <div class="submitbutt">
                <button type="submit">Submit</button>
            </div>
            <button type="button"
            onclick="document.getElementById('login').style.display='none'"
            class="cancelbutt">Cancel</button>
            </div>
        </form>
        </div>
    </form>
<% include partials/footer %>
