
<form action="/profile" method="post">
    <div id="profile">
        <span onclick="document.getElementById('profile').style.display='none'" href="/profile"></span>
    </div>
</form>

<form action="/logout" method="post">
    <div id="logout">
        <span onclick="document.getElementById('login').style.display='none'" href="/logout"></span>
    </div>
</form>

<div id="logcontainer">
    <h1>{{title}}</h1>
</div>

<div class="carousel-container active">
  <div class="buttons">
    <button class="prev">
      ◀ <span class="offscreen">Previous</span>
    </button>
    <button class="next">
      <span class="offscreen">Next</span> ▶
    </button>
  </div>
  <div class="carousel-content">
    <div class="carousel-element"><img src="images\chillies.jpg" alt="chillies" /></div>
    <div class="carousel-element"><img src="images\ecuador dog.jpg" alt="a dog" /></div>
    <div class="carousel-element"><img src="images\gradient flower.jpg" alt="a flower with a nice gradient" /></div>
    <div class="carousel-element"><img src="images\elephant.jpg" alt="an elephant" /></div>
  </div>

  <div class="anchor-buttons">
    <button id="carousel-1">1</button>
    <button href="#slide-2" id="carousel-2">2</button>
    <button href="#slide-3" id="carousel-3">3</button>
    <button href="#slide-4" id="carousel-4">4</button>
  </div>

</div>

<div id="logcontainer2">
    <h1>Search for item</h1>
</div>

<form action="/sell" method="post">
    <div id="sell" class="modal">
    <span onclick="document.getElementById('sell').style.display='none'"
    class="close" title="Close Modal">×</span>
        <div class="modal-content animate">
            <div class="container">
                <div class="sell-form">
                    <input type="text" id="prod_name" name="prod_name" placeholder="insert product name"/>
                    <input type="price" id="prod_price" name="prod_price" placeholder="enter price in"/>
                    <input type="text" id="prod_link" name="prod_link" placeholder="enter product link"/>
                </div>
                <div class="sell-desc">
                    <input type="text" id="prod_desc" name="prod_desc" placeholder="enter product desc"/>
                </div>
            </div>
        </div>
    </div>
</form>