
<form action="/profile" method="post">
    <div id="profile">
        <span onclick="document.getElementById('profile').style.display='none'" href="/profile"></span>
    </div>
</form>

<form action="/logout" method="post">
    <div id="logout">
        <span onclick="document.getElementById('login').style.display='none'" href="/logout"></span>
    </div>
</form>

<div id="productinfo">
    <div class="carousel-text">
    </div>
</div>

<div class="dropdown">
    <select id="carousel-select">
        <option value="hide"> Select a Product  </option>
    </select>
</div>


<div class="carousel-container active">
    <div class="buttons">
        <button class="prev">
            ◀ <span class="offscreen">Previous</span>
        </button>
        <button class="next">
            <span class="offscreen">Next</span> ▶
        </button>
    </div>
    <div class="carousel-content" id="carousel_content_container">
        <div class="carousel-element"><img src="images\chillies.jpg" alt="chillies" /></div>
        <div class="carousel-element"><img src="images\ecuador dog.jpg" alt="a dog" /></div>
        <div class="carousel-element"><img src="images\gradient flower.jpg" alt="a flower with a nice gradient" /></div>
        <div class="carousel-element"><img src="images\elephant.jpg" alt="an elephant" /></div>
    </div>
</div>


<script src="/javascripts/carousel.js" defer="defer"></script>
<script src="/javascripts/loggedin.js" id="logged-in-script" data-urls='{{{image_rows}}}' defer="defer"></script>
