<div class="header">
    <h1> {{title}}</h1>
    <p>.</p>
    <p>.</p>
    <p>Welcome to {{title}}</p>
    <p>YOU'RE A LOGGED IN USER!</p>
    <p>CONGRATULATIONS!</p>
</div>


<div class="header">
    <h1> {{title}}</h1>
    <p>Welcome to {{title}}</p>
</div>

<div class="logcontainer">
    <p>hmm</p>
    <a class=logout href="/logout">Logout</a>
</div>


<form action="/profile" method="post">
    <div id="profile">
        <span onclick="document.getElementById('profile').style.display='none'" href="/profile"></span>
    </div>
</form>

<form action="/logout" method="post">
    <div id="logout">
        <span onclick="document.getElementById('login').style.display='none'" href="/logout"></span>
    </div>
</form>
