<div class="header">
    <h1> {{title}}</h1>
</div>


<div id="logcontainer">
    <h1>hmm</h1>
    <h1>{{title}}</h1>
</div>


<form action="/profile" method="post">
    <div id="profile">
        <span onclick="document.getElementById('profile').style.display='none'" href="/profile"></span>
    </div>
</form>

<form action="/logout" method="post">
    <div id="logout">
        <span onclick="document.getElementById('login').style.display='none'" href="/logout"></span>
    </div>
</form>
