
<form action="/profile" method="post">
    <div id="profile">
        <span onclick="document.getElementById('profile').style.display='none'" href="/profile"></span>
    </div>
</form>

<form action="/logout" method="post">
    <div id="logout">
        <span onclick="document.getElementById('login').style.display='none'" href="/logout"></span>
    </div>
</form>

<div id="productinfo">
    <div class="carousel-text">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque modi quibusdam esse hic sunt beatae omnis. Necessitatibus perspiciatis facere ducimus inventore nemo similique est pariatur. Quibusdam voluptatem aspernatur corporis veritatis.</h3>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque modi quibusdam esse hic sunt beatae omnis. Necessitatibus perspiciatis facere ducimus inventore nemo similique est pariatur. Quibusdam voluptatem aspernatur corporis veritatis.</h3>
    </div>
</div>

    <div class="dropdown">
        <select id="select">
            <option value="hide"> Select a Product  </option>
        </select>
        <script src="/javascripts/loggedin.js"></script>

        <div class="carousel-text" >
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.Necessitatibus perspiciatis facere ducimus inventore nemo similique est pariatur. Quibusdam voluptatem aspernatur corporis veritatis.</h3>
        </div>
    </div>


<div class="carousel-container active">
  <div class="buttons">
    <button class="prev">
      ◀ <span class="offscreen">Previous</span>
    </button>
    <button class="next">
      <span class="offscreen">Next</span> ▶
    </button>
  </div>
  <div class="carousel-content">
    <div class="carousel-element"><img src="images\chillies.jpg" alt="chillies" /></div>
    <div class="carousel-element"><img src="images\ecuador dog.jpg" alt="a dog" /></div>
    <div class="carousel-element"><img src="images\gradient flower.jpg" alt="a flower with a nice gradient" /></div>
    <div class="carousel-element"><img src="images\elephant.jpg" alt="an elephant" /></div>
  </div>

  <div class="anchor-buttons">
    <button id="carousel-1">1</button>
    <button href="#slide-2" id="carousel-2">2</button>
    <button href="#slide-3" id="carousel-3">3</button>
    <button href="#slide-4" id="carousel-4">4</button>
  </div>
</div>


