<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>...</title>
        <link rel="stylesheet" href ="/stylesheets/style.css">
        <script src="/javascripts/loadcolor.js" ></script>
    </head>
    <body onload="random_col()">
        {{{ body }}}
    </body>
</html>